@use "default" ;
@use "fonts" ;
$orangered: #ff4500;
$main-orange: #ea7323;
$dark-orange: #cb6019;
$white: #fafafa;
$black: #202020;
$dark-grey:#808080;
$light-grey:#f5f5f5;
$green:#28a745;


@mixin btn($color, $bgcolor) {
  padding:8px 12px ;
  border: none;
  border-radius: 8px;
  color: $color;
  background-color: $bgcolor;
  text-transform: uppercase;
  transition: 300ms;
  &:hover {
    background-color: darken($bgcolor, 10%);
    cursor: pointer;
  }
}

html{
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
  background-color: $white;
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body,
input,
a{
  color: $black;
}
h1{
  font-size: 64px;

}
h2{
  font-size: 42;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 21px;
}
h5{
  font-size: 18px;
}
.btn{
  @include btn($white, $main-orange);
  &-light{
    @include btn($black, $white);
    }
  }
}
header{
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 100;
  padding: 24px 0;

  .logo{
    display: flex;
    align-items: baseline;
    .circle{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $main-orange;
    }
  }

  nav{
    display: flex;
    gap: 24px;
    padding-right: 24px;
    border-right: 1px solid $black;
      a{
        transition: 300ms;
        &:hover{
          color: $main-orange;
      }
    }
  }
  .icons{
    display: flex;
    gap: 24px;
    padding-left: 24px;
    svg{
      transition: 300ms;
      &:hover{
        fill: $main-orange;
        cursor: pointer;
      }
    }
  }
}

#banner{
  background-color: $main-orange;
  color: $white;
  text-transform: uppercase;
  .title{
    width: 48%;
    h1{
      margin-bottom: 24px;
    }
  }
  .cover{
    width: 40%;
    img{
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

#categories{
  padding: 48px 0;
  .flex-between:first-child{
    margin-bottom: 2%;
  }
  .card{
    position: relative;
    width: 32%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    transition: 300ms;
    &:hover{
      cursor: pointer;
     img{
      filter: brightness(10%);
     }
    }
    &.big{
      width: 66%;
      aspect-ratio: 2.06 / 1;
    }
    img{
      transition: 300ms;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }
  }
}

#products{
  h2{
    text-align: center;
    margin-bottom: 48px;
  }
  .filters{
    
    justify-content: center;
    gap: 40px;
    .btn-filter{
      font-weight: 500;
      padding: 8px 4px;
      border-bottom: 2px solid transparent;
      transition: 300ms;
      font-size: 20px;
      &.active, &:hover{
        border-color: $main-orange;
        color: $main-orange;
      }
    }
  }

  .cards{
    flex-wrap: wrap;
    gap: 32px;
    margin: 40px 0;
    .card{
      width: 30%;
      position: relative;
      .settings{
        position: absolute;
        top: 16px;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .badge{
          width: 40px;
          padding: 4px;
          text-align: center;
          color: $white;
          font-size: 14px;
          text-transform: uppercase;
          &.hot{
            background-color: $orangered;
          }
          &.sale{
            background-color: $green;
          }
        }
      }
      .cover{
        width: 100%;
        aspect-ratio: 1 / 1.2;
        background-color: $light-grey;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          scale: 0.8;
        }
      }
      .title{
        padding: 16px;
        text-align: center;
        .name{
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        .price{
          font-size: 18px;
          .default-price{
            color: #808080;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

footer{
  background-color: $light-grey;
  padding: 40px;
  .support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .send-email{
    position: relative;
    display: flex;
    align-items: center;
    #email{
      border: 1px solid $dark-grey;
    }
  }
}

.product{
    &-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
        background-color: $main-orange;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

 